.cask
elpa/*
auto-save-list
*~
.DS_Store

# mode related temp files
ido.last
recentf
irony/
request/

#multiple cursors
.mc-lists.el

# projectile
projectile.cache
projectile-bookmarks.eld

#README.md preview
README.html

#Network Security Manager
network-security.data